html, body {
    font-size: 16px;
}

body {
   font-family: 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
   line-height: 1.3;
}

p {
    line-height: 1.4;
    margin-bottom: 1em;
}

.section {
    padding: 50px 0 65px 0;
}

.with-sub .section, .with-sub #main {
    padding-top: 75px
}

#first-row {
    margin-top: 8em;
    margin-bottom: 2em;
}

.hero-copy p {
    max-width: 450px;
}

.first-blurb p {
    font-size: 1.25rem;
    margin-bottom: 1em;
}

.first-blurb .pre-title {
    margin-bottom: 0.6em
}

.space-under {
    margin-bottom: 24px
}

#fullpage-whole {
    max-width: 960px;
    margin-bottom: 600px
}

/* Colours */
.blue {
    color: #009FDF
}

.blue-bg{
    background-color: #009FDF;
}

.orange {
    color: #ED8B00
}

.orange-bg {
    background-color: #ED8B00
}

.pink {
    color: #D40F7D
}

.pink-bg {
    background-color: #D40F7D
}

.green {
    color: #00843D
}

.green-bg {
    background-color: #00843D
}

.burgundy {
    color: #BA0C2F
}

.burgundy-bg {
    background-color: #BA0C2F
}

.purple {
    color: purple;
}

.purple-bg {
    background-color: purple;
}

#nav-services:hover {
   color: #009FDF
}

#nav-sustainability:hover {
    color: #00843D
}

#nav-inspiration:hover {
    color: #BA0C2F
}

#nav-clients:hover {
    color: #D40F7D
}

#nav-contact:hover {
    color: purple
}

/* Titles */

h1, h2, h3{
    font-family: 'bevan', cursive;
    margin: 0;
}

h2 {
    font-size: 27pt;
}

.pre-title {
    margin-bottom: .4em;
    color: #515664;
    font-family: 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
    font-weight: 800;
    font-size: 1.8em
}

.titles {
    margin: 5em 0 3em 0;
}

/* Text */

p {
    font-size: 1em;
    color: #4c4c4c;
}

a {
    color: #009FDF;
}

.text {
    margin-bottom: 24px
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 800;
}

.small-text{
    font-size: 0.8em
}

.quote {
    position: relative;
    border-color: #B6DDF0;
    max-width: 78%;
    font-size: 1rem;
    font-style: italic;
    font-family: 'Cormorant Garamond', serif;
    /*quotes: "\201C""\201D""\2018""\2019";*/
}

.quote p {
    color: #999;
}

.quote footer {
    font-family: 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
    font-style: normal;
    font-weight: 800
}

.quote footer::before {
    content: '';
}

.quotemark {
    font-family: "Georgia", serif;
    font-size: 2em;
}

/* Services */

.service-box {
    padding: 15px 0;
    margin-bottom: 30px;
}

.service-box h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3em
}

.service-box a {
    text-decoration: none;
}

.read-more {
    color: #009FDF;
}

.service-box a:hover .read-more {
    text-decoration: underline;
}

.links {
    padding-left: 20px;
    height: 3em;
    font-size: 0.85em;
}

#services .quote {
    margin-bottom: 2.5em
}
/* Inspiration */

.face-bg {
    background: url('../img/hatches.187a4bef.png');
    margin-bottom: 0px;
    margin-top: 0px;
}

.face {
    padding-top: 15px;
    height: 220px;
    background-repeat: no-repeat;
    background-size: contain;
}

.inspiration-blurb {
    font-size: 0.85em;
}

/* Clients */

.client-logo {
    margin-top: 15px;
}

#future {
    padding-top: 6%
}

#quietus {
    padding-top: 6.2%
}

#telegraph {
    padding-top: 5%;
    padding-bottom: 6.8%
}


.build-nav {
    font-size: 1.3rem;
    text-align: center;
}

.build-nav ul {
    margin-bottom: 2rem;
}

.build-nav li {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.build-nav li::after {
    content: '·';
}

.build-nav li:last-child::after {
    content: '';
}

.section-copy p {
    max-width: 78%;
}

.copy-image,
.copy-image--full-width {
    margin-bottom: 2rem;
}

.copy-image {
    width: 20%;
    margin-left: 2rem;
}

.copy-image--full-width {
    margin-top: 2rem;
    width: 78%;
}

.discovery .copy-image--full-width,
.delivery .copy-image--full-width {
    margin: 0;
}

@media (max-width: 767px) {
    [data-current-page=build] .section,
    [data-current-page=organise] .section {
        padding-top: 160px;
    }

    .first-blurb p {
        font-size: 1rem;
    }

    .section-copy p {
        max-width: 100%;
        padding-right: 0;
    }

    .copy-image {
        width: 30%;
    }

    .copy-image--full-width {
        width: 100%;
    }

    .hero__home-page .pre-title {
        font-size: 1.4rem;
    }

    .hero__home-page .img-responsive {
        display: none;
    }

    .quote {
        margin-left: 15px;
        margin-right: 15px;
    }

    .service-box {
        padding: 0 15px;
    }
}
