<div class="section" id="review">
    <div class="row">
        <div class="titles col-xs-12">
            <h2 class="pre-title">Review</h2>
            <h2 class="blue">You are here...</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 section-copy">
            <img src="img/icons/review.svg" class="copy-image pull-right" />
            <p>To go to where you’re trying to get to, you first need to see where you are.</p>
            <p>The technical landscape is fluid. What was the gold standard yesterday? It’s not the gold standard today.</p>
            <p>When it comes to systems, there are always blockers. Whether optimisation is worthwhile is another matter.  Are the org design and processes right? What processes can be improved? Is the business strategy clearly defined and understood?</p>
            <p>When we carry out a review, we can look at contracts, design practices, delivery processes, capabilities, equipment, technical landscape, partnerships, environment, prioritisation, budgets, structure and more.</p>
            <p>We’ll help you uncover what could be improved to better deliver your business strategy, and determine if there is any benefit in doing so.</p>
            <p>And it starts with a conversation…</p>
        </div>
    </div>
</div>
