<div class="section" id="shape">
    <div class="row">
        <div class="titles col-xs-12">
            <h2 class="pre-title">Shape</h2>
            <h2 class="blue">Do you know what you've got? (And what you're missing?)</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 section-copy">
            <img src="img/icons/shape.svg" class="copy-image pull-right" />
            <p>What’s the shape of your team? Do you know what they’re capable of? Do they know what they’re capable of?</p>
            <p>If you empower your team, it can be mind-blowing what that team can achieve. What precedents are set that impact on the ability to get the job done? And how are they incentivised? Do you have the culture you need?</p>
            <p>We’re all trying to ensure that we have the right team in place.</p>
            <p>We can look at the size and shape of your team within the context of the organisation and what you’re trying to achieve. Whether it’s just a capability assessment in a particular area or a review of the organisation as a whole — we’ll can help you identify the right shape and the right team across Leadership, Product, Design, Software Development and more.</p>
            <p>It starts with a conversation...</p>
        </div>
    </div>
</div>
