<div class="section" id="transform">
    <div class="row">
        <div class="titles col-xs-12">
            <h2 class="pre-title">Transform.</h2>
            <h2 class="blue">Where do we go from here?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 section-copy">
            <img src="img/icons/transform.svg" class="copy-image pull-right" />
            <p>So your business needs to adapt. But when it comes to organisational transformation, it can be hard to see the wood for the trees. It’s folly to think that the perfect organisational setup exists. It’s more about making the wisest trade-offs.</p>
            <p>Is there a better way to achieve your business goals? Is it about playing a team to their strengths or cutting out the fat? How open to change is your team? And what needs to happen for your organisation to be able to adapt by itself? Is your team’s morale low? Does your throughput seem mismatched to the capability of the team? “But we’ve always done it this way…” — incumbent thinking also needs to be challenged.</p>
            <p>It’s more about people, activities and behaviours, than tools, technologies and methodologies. But this stuff is also political, and it requires a clear mandate from the top.</p>
            <p>When we help transform businesses, we initially focus on the people and their capabilities, then on the activities they’re performing and the processes they are working to and finally the structures they’re working within.</p>
            <p>Only then can we map out a sustainable transformation plan encompassing behavioural change, process re-engineering, organisational design, and clear success metrics.</p>
            <p>There is no silver bullet. There are theories, tools and methodologies, but it’s the experience of understanding how to apply them in context that counts.</p>
            <p>We focus on understanding and building a path doing the necessary transformation, optimised for now. But our real goal of transformation is to embed a culture of continuous improvement.</p>
            <p>And it starts with a conversation…</p>
        </div>
    </div>
</div>
