<nav id="sub-nav" class="navbar navbar-default col-xs-12 blue">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav navbar-left">
                <li><a id="current-page" class="page-link" href="build.html#main">Build</a></li>
                <li><a class="page-link" href="organise.html#main">Organise</a></li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-2">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#canvas">Canvas</a></li>
                <li><a href="#discovery">Discovery</a></li>
                <li><a href="#delivery">Delivery</a></li>
            </ul>
        </div>
    </div>
</nav>
