<nav id="sub-nav" class="navbar navbar-default col-xs-12 blue" data-current-page="{{ current }}">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav navbar-left">
                <li><a class="page-link page-link--build" href="build.html#main">Build</a></li>
                <li><a class="page-link page-link--organise" href="organise.html#main">Organise</a></li>
            </ul>
        </div>

        <ul class="nav navbar-nav navbar-right sub-nav__build">
            <li><a href="#canvas">Canvas</a></li>
            <li><a href="#discovery">Discovery</a></li>
            <li><a href="#delivery">Delivery</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right sub-nav__organise">
            <li><a id="nav-spotlight" href="#spotlight">Spotlight</a></li>
            <li><a id="nav-review" href="#review">Review</a></li>
            <li><a id="nav-shape" href="#shape">Shape</a></li>
            <li><a id="nav-organise" href="#transform">Transform</a></li>
        </ul>
    </div>
</nav>
