/* Header */

.header {
    background-color: white;
    border-color: white;
    border-radius: 0;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 50px;
}

#inner-header{
    border-bottom: #949494 1px solid;
    padding: 0;
}

.navbar {
    border: none
}

.navbar-collapse {
    background-color: white
}

/* Footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

footer .container{
    background-color: white;
}

#inner-footer {
    border-top: #949494 1px solid;
    padding: 0
}

div.cb_footer_logo {
    height: 40px;
    margin: 5px 0;
    width: 70px;
    background: url('../img/cb_logo_footer.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
}

/* Breakpoint for mobile navbar */
@media (max-width: 767px) {
    .header .container{
        padding: 0
    }

    .navbar-brand {
        padding-left: 0
    }

    .navbar-header button{
        margin-right: 0
    }
}



