body{
   font-family: 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
}



.section {
    margin-bottom: 24px
}


/* Titles */

h1, h2, h3{
    font-family: 'bevan', cursive;
    margin: 0;
}

.pre-title {
    margin-top: 30px;
    margin-bottom: 2px;
    color: #515664;
    font-family: 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
}

.titles {
    margin-bottom: 24px;
}

/* Text */

.text {
    margin-bottom: 24px
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 800;
}

.small-text{
    font-size: 0.8em
}



/* Images */
.image {
    background-repeat: no-repeat;
    height: 300px;
    background-size: contain;
}

#home-image {
    background-image: url('../img/cb-design-people-transform.png')
}

#build-image{
    background-image: url('../img/build/discovery-lifecycle.png');
    height: 337px;
}