body{
   font-family: 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
}

.section {
    padding: 50px 0 65px 0;
}

#main {
    padding-top: 50px
}

.space-under {
    margin-bottom: 24px
}

/* Colours */
.blue {
    color: #009FDF
}

.orange {
    color: #ED8B00
}

.pink {
    color: #D40F7D
}

.green {
    color: #00843D
}

.burgundy {
    color: #BA0C2F
}

.purple {
    color: purple;
}

/* Titles */

h1, h2, h3{
    font-family: 'bevan', cursive;
    margin: 0;
}

h2 {
    font-size: 3em;
}

.pre-title {
    margin-bottom: 2px;
    color: #515664;
    font-family: 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
    font-weight: 800;
    font-size: 1.8em
}

.titles {
    margin: 5em 0 3em 0;
}

/* Text */

p {
    font-size: 1.1em;
    color: #4c4c4c;
}

a {
    color: #009FDF;
}

.text {
    margin-bottom: 24px
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 800;
}

.small-text{
    font-size: 0.8em
}

.quote {
    font-size: 1em;
    font-weight: 800;
}

.quote p {
    font-style: italic;
}

/* Images */
.image {
    background-repeat: no-repeat;
    background-size: contain;
}

.col-md-4 .image{
    height: 200px
}

#home-image {
    background-image: url('../img/cb-design-people-transform.png')
}

#build-image{
    background-image: url('../img/build/discovery-lifecycle.png');
    height: 337px;
}

#canvas-img-1 {
    background-image: url('../img/build/canvas-spaceship.png')
}

#canvas-img-2 {
    background-image: url('../img/build/canvas-map.png');
    height: 350px
}

#canvas-img-3 {
    background-image: url('../img/build/canvas-shelf-discovery.png');
}

#discovery-img-1 {
    background-image: url('../img/build/discovery-uncertainty-machine.png');
}

#discovery-img-2 {
    background-image: url('../img/build/discovery-lifecycle.png');
}

#delivery-img-1 {
    background-image: url('../img/build/delivery-sketch-to-painting.png');
}

#delivery-img-2 {
    background-image: url('../img/build/delivery-backlog-board.png');
}

#spotlight-img-1 {
    background-image: url('../img/organise/spotlight-clarity.png');
}

#organisation-img-1 {
    background-image: url('../img/organise/transformation-continuous-improvement.png');
}

#shape-img-1 {
    background-image: url('../img/organise/shape-gaps.png');
}

#shape-img-2 {
    background-image: url('../img/organise/shape-team-alignment.png');
}
