<div class="section row" id="clients">
    <div class="titles col-xs-12">
        <h2 class="pre-title">Our Clients.</h2>
        <h2 class="pink">Who we've helped...</h2>
    </div>
    <div class="row">
        <div class="text col-sm-5">
            <p>We've worked with all sorts of organisations, some of them are listed below:</p>
        </div>
    </div>
    <div class="row">
        <img id="gds" src="img/clients/gds.png" class="col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2 client-logo"/>
        <img id="synergy" src="img/clients/synergy.png" class="col-sm-1 col-sm-offset-1 col-xs-8 col-xs-offset-2 client-logo"/>
        <img id="fjord" src="img/clients/fjord.png" class="col-sm-3 col-sm-offset-1 col-xs-8 col-xs-offset-2 client-logo"/>
    </div>
    <div class="clearfix hidden-sm-up"></div>
    <div class="row">
        <img id="quietus" src="img/clients/quietus.jpg" class="col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2 client-logo"/>
        <img id="future" src="img/clients/future.jpg" class="col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2 client-logo"/>
        <img id="participle" src="img/clients/participle.gif" class="col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2 client-logo"/>
    </div>
    <div class="clearfix hidden-sm-up"></div>
    <div class="row">
        <img id="telegraph" src="img/clients/telegraph.png" class="col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 client-logo"/>
        <img id="goodgym" src="img/clients/goodgym.png" class="col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2 client-logo"/>
    </div>
</div>
