<div class="section row" id="contact">
    <div class="titles col-xs-12">
        <h2 class="pre-title">Let's talk.</h2>
        <h2>We Like Open Communication</h2>
    </div>
    <div class="text col-xs-12">
        <p><a href="mailto:hello@cantorandball.com">hello@cantorandball.com</a></p>
    </div>
    <div class="text col-xs-12">
        <p>We are based in London, UK but we can &amp; do work anywhere.</p>
    </div>
    <div class="text col-xs-12">
        <p class="small-text">Company Number 7796213</p>
        <p class="small-text">VAT Registration Number GB 121 6096 42</p>
    </div>
</div>
