<div class="section hero__home-page" id="main">
    <div class="row" id="first-row">
        <div class="col-md-12">
            <h2 class="pre-title">Technology can be transformative.</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 pull-right">
            <img src="img/cb-design-people-transform.png" class="img-responsive"/>
        </div>
        <div class="col-sm-8 hero-copy">
            <div class="first-blurb">
                <p>We help people review and <a href="organise.html">organise</a> themselves.<br/>
                We help  discover, <a href="build.html">build</a> and deliver great things.</p>
            </div>
            <p>We use our profit to grow <a href="#sustainability">sustainable businesses</a> that make the world a better place.</p>
            <p>It all starts with a conversation, so <a href="#contact">let’s talk…</a></p>
        </div>
    </div>
</div>
