<div class="section hero__home-page" id="main">
    <div class="row" id="first-row">
        <div class="col-md-12">
            <h2 class="blue hero__banner">Technology can be&nbsp;transformative</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 pull-right">
            <img src="img/cb-design-people-transform.png" class="img-responsive"/>
        </div>
        <div class="col-sm-8 hero-copy">
            <div class="first-blurb">
                <h2 class="pre-title">
                    We help people<br>
                    review and <a href="organise.html">organise</a> themselves.
                </h2>
                <h2 class="pre-title">
                    We help discover,<br>
                    <a href="build.html">build</a> and deliver great things.
                </h2>
            </div>
            <p>We use our profit to grow <a href="#sustainability">sustainable businesses</a> that make the world a better place.</p>
            <p>It all starts with a conversation, so <a href="#contact">let’s talk…</a></p>
        </div>
    </div>
</div>
