<div class="section" id="main">
    <div class="row" id="first-row">
        <div class="col-xs-12">
            <div class="first-blurb">
                <h2 class="pre-title">Technology can be transformative.</h2>
                <p>We help people review and <a href="organise.html">organise</a> themselves.<br/>
                We help  discover, <a href="build.html">build</a> and deliver great things.<br/>
                We use our profit to grow <a href="#social-good">sustainable businesses</a> that make the world a better place.</p>
            </div>
            <p>It all starts with a conversation, so <a href="#contact">let’s talk…</a></p>
        </div>
    </div>
    <div class="row">
        <img src="img/cb-design-people-transform.png" class="col-xs-4 col-xs-offset-4 space-under"/>
    </div>
</div>
