<div class="section row" id="inspiration">
    <div class="titles col-sm-12">
        <h2 class="pre-title">Inspiration.</h2>
        <h2 class="burgundy">Open Minds, Passion, Craftsmanship &amp; Creativity</h2>
    </div>
    <div class="row">
        <div class="text col-sm-10 face-text">
           <p>We are inspired by people who have made the world a better place, regardless of their own limitations. Of the many names on this ever growing list, we keep two names close to our hearts.</p>
        </div>
    </div>
    <div class="row">
        <div class="text col-sm-5 face-bg">
             <div id="hugo" class="face">
                 <p class="bold burgundy">Hugo Ball</p>
                 <div class="inspiration-blurb">
                     <p>As the author of the first Dada manifesto, Hugo Ball’s influence on us is immense. We value thinking, irreverence, the ridiculous and everyday Dada. Particularly, we strive to never confuse man with machine — nearly a hundred years on from Hugo’s observations on World War 1...</p>
                     <p>‘The war is founded on a glaring mistake, man has been confused with machine.’</p>
                 </div>
             </div>
        </div>
        <div class="text col-sm-5 face-bg">
            <div id="georg" class="face">
                <p class="bold burgundy">Georg Cantor</p>
                <div class="inspiration-blurb">
                    <p>Arguably the inventor of modern mathematics, with his definition of set theory, transfinite arithmetic and much else, we are inspired by the logic and philosophy in Cantor’s approach to problem solving. We believe it's important to think past innate beliefs with a problem, because despite the paradoxes often uncovered, the best solution is not always the obvious one.</p>
                </div>
            </div>
        </div>
    </div>
</div>
