<div class="section" id="services">
    <div class="row">
        <div class="titles col-xs-12">
            <h2 class="pre-title">Our services.</h2>
            <h2 class="blue">What We Do...</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-4">
                    <img src="img/icons/build.svg" alt="Build" class="img-responsive" />
                </div>
                <div class="service-box col-sm-8">
                    <a href="build.html">
                        <p>We help with all stages of software design and development.</p>
                        <p class="read-more">Read more...</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="img/icons/organise.svg" alt="Organise" class="img-responsive" />
                </div>
                <div class="service-box col-sm-8">
                    <a href="organise.html">
                        <p>We help organisations of all shapes and sizes get the most from their people, processes and technology.</p>
                        <p class="read-more">Read more...</p>
                    </a>
                </div>
            </div>
        </div>

        <blockquote class="col-sm-3 col-sm-offset-1 quote">
            <p class="italic">Cantor &amp; Ball is one of a small number of UK SME's who have been central to the growth of, and delivery behind the Government Digital Service.</p>
            <p class="italic">Cantor &amp; Ball has helped us answer challenges facing new organisations in the agile digital space, including scaling agile organisations, defining product management practices and assisting multi-functional development teams.</p>
            <footer class="name">Mike Bracken,<br />Government Digital Service</footer>
        </blockquote>
    </div>


</div>
