<div class="section row" id="services">
    <div class="row">
        <div class="titles col-xs-12">
            <h2 class="pre-title">Our services.</h2>
            <h2 class="blue">What We Do...</h2>
        </div>
    </div>
    <div class="row">
        <div class="quote col-sm-9">
            <p class="italic">"Cantor &amp; Ball is one of a small number of UK SME's who have been central to the growth of, and delivery behind the Government Digital Service.</p>
            <p class="italic">Cantor &amp; Ball has helped us answer challenges facing new organisations in the agile digital space, including scaling agile organisations, defining product management practices and assisting multi-functional development teams."</p>
            <p class="name">Mike Bracken, Government Digital Service<p>
        </div>
    </div>
    <div id="service-boxes" class="row">
        <div class="service-box col-sm-5">
            <p class="bold blue"><a href="build.html">Build</a></p>
            <p class="service-text">We help with all stages of software design and development.</p>
            <ul class="links col-xs-6" type="square">
                <li><a href="build.html#canvas">Canvas</a></li>
                <li><a href="build.html#discovery">Discovery</a></li>
            </ul>
            <ul class="links col-xs-6" type="square">
                <li><a href="build.html#delivery">Delivery</a></li>
            </ul>
            <p><a href="build.html">Read more...</a><p>
        </div>

        <div class="service-box col-sm-5 col-sm-offset-1">
            <p class="bold blue"><a href="organise.html">Organise</a></p>
            <p class="service-text">We help organisations of all shapes and sizes get the most from their people, processes and technology.</p>
            <ul class="links col-xs-6" type="square">
                <li><a href="organise.html#spotlight">Spotlight</a></li>
                <li><a href="organise.html#review">Review</a></li>
            </ul>
            <ul class="links col-xs-6" type="square">
                <li><a href="organise.html#shape">Shape</a></li>
                <li><a href="organise.html#transform">Transform</a></li>
            </ul>
            <p><a href="organise.html">Read more...</a><p>
        </div>
    </div>
</div>
