<div class="section row" id="sustainability">
     <div class="titles col-xs-12">
         <h2 class="pre-title">Sustainability.</h2>
         <h2>Product Development</h2>
     </div>
     <div class="text col-xs-12">
         <p>Cantor &amp; Ball's ambition is to be a dynamic and responsible business.</p>
         <p>We factor in not just economic, but social and ecological thinking into all our business decisions, be it taking on a new client or utilising a new service in house.  But it’s more than that.</p>
<p> It’s about impact.</p>
         <p>We put our profits into turning ideas for social good into sustainable businesses.  We help incubate them, and get them to the tipping point of sustainability.</p>
         <p>Good ideas can come from anywhere, so if you have an idea you’d like to explore, <a href="#contact">let’s talk.</a></p>
     </div>
</div>
