<div class="row">
    <div class="col-md-10 col-md-offset-1">
        {{ partial "build-hero" }}
        {{ partial "canvas" }}
        {{ partial "discovery" }}
        {{ partial "delivery" }}
    </div>
</div>
