{{ partial "header" current="index" }}

<div class="container" id="fullpage-whole">
    <div class="section row" id="main">
        <div class="row" id="first-row">
            <div class="col-xs-12">
                <div class="first-blurb">
                    <h2 class="pre-title">Technology can be transformative.</h2>
                    <p>We help people review and <a href="organise.html">organise</a> themselves.<br/>
                    We help  discover, <a href="build.html">build</a> and deliver great things.<br/>
                    We use our profit to grow <a href="#social-good">sustainable businesses</a> that make the world a better place.</p>
                </div>
                <p>It all starts with a conversation, so <a href="#contact">let’s talk…</a></p>
            </div>
        </div>
        <div class="row">
            <img src="img/cb-design-people-transform.png" class="col-xs-4 col-xs-offset-4 space-under"/>
        </div>
    </div>

    <div class="section row" id="services">
        <div class="row">
            <div class="titles col-xs-12">
                <h2 class="pre-title">Our services.</h2>
                <h2 class="blue">What We Do...</h2>
            </div>
        </div>
        <div class="row">
            <div class="quote col-sm-9">
                <p class="italic">"Cantor &amp; Ball is one of a small number of UK SME's who have been central to the growth of, and delivery behind the Government Digital Service.</p>
                <p class="italic">Cantor &amp; Ball has helped us answer challenges facing new organisations in the agile digital space, including scaling agile organisations, defining product management practices and assisting multi-functional development teams."</p>
                <p class="name">Mike Bracken, Government Digital Service<p>
            </div>
        </div>
        <div id="service-boxes" class="row">
            <div class="service-box col-sm-5">
                <p class="bold blue"><a href="build.html">Build</a></p>
                <p class="service-text">We help with all stages of software design and development.</p>
                <ul class="links col-xs-6" type="square">
                    <li><a href="build.html#canvas">Canvas</a></li>
                    <li><a href="build.html#discovery">Discovery</a></li>
                </ul>
                <ul class="links col-xs-6" type="square">
                    <li><a href="build.html#delivery">Delivery</a></li>
                </ul>
                <p><a href="build.html">Read more...</a><p>
            </div>

            <div class="service-box col-sm-5 col-sm-offset-1">
                <p class="bold blue"><a href="organise.html">Organise</a></p>
                <p class="service-text">We help organisations of all shapes and sizes get the most from their people, processes and technology.</p>
                <ul class="links col-xs-6" type="square">
                    <li><a href="organise.html#spotlight">Spotlight</a></li>
                    <li><a href="organise.html#review">Review</a></li>
                </ul>
                <ul class="links col-xs-6" type="square">
                    <li><a href="organise.html#shape">Shape</a></li>
                    <li><a href="organise.html#transform">Transform</a></li>
                </ul>
                <p><a href="organise.html">Read more...</a><p>
            </div>
        </div>
    </div>



    <div class="section row" id="social-good">
         <div class="titles col-xs-12">
             <h2 class="pre-title">Our products.</h2>
             <h2 class="green">Sustainable Business</h2>
         </div>
         <div class="text col-xs-12">
             <p>Cantor &amp; Ball's ambition is to be a dynamic and responsible business.</p>
             <p>We factor in not just economic, but social and ecological thinking into all our business decisions, be it taking on a new client or utilising a new service in house.  But it’s more than that.</p>
    <p> It’s about impact.</p>
             <p>We put our profits into turning ideas for social good into sustainable businesses.  We help incubate them, and get them to the tipping point of sustainability.</p>
             <p>Good ideas can come from anywhere, so if you have an idea you’d like to explore, <a href="#contact">let’s talk.</a></p>
         </div>
    </div>

    <div class="section row" id="inspiration">
        <div class="titles col-sm-12">
            <h2 class="pre-title">Inspiration.</h2>
            <h2 class="burgundy">Open Minds, Passion, Craftsmanship &amp; Creativity</h2>
        </div>
        <div class="row">
            <div class="text col-sm-10 face-text">
               <p>We are inspired by people who have made the world a better place, regardless of their own limitations. Of the many names on this ever growing list, we keep two names close to our hearts.</p>
            </div>
        </div>
        <div class="row">
            <div class="text col-sm-5 face-bg">
                 <div id="hugo" class="face">
                     <p class="bold burgundy">Hugo Ball</p>
                     <div class="inspiration-blurb">
                         <p>As the author of the first Dada manifesto, Hugo Ball’s influence on us is immense. We value thinking, irreverence, the ridiculous and everyday Dada. Particularly, we strive to never confuse man with machine — nearly a hundred years on from Hugo’s observations on World War 1...</p>
                         <p>‘The war is founded on a glaring mistake, man has been confused with machine.’</p>
                     </div>
                 </div>
            </div>
            <div class="text col-sm-5 face-bg">
                <div id="georg" class="face">
                    <p class="bold burgundy">Georg Cantor</p>
                    <div class="inspiration-blurb">
                        <p>Arguably the inventor of modern mathematics, with his definition of set theory, transfinite arithmetic and much else, we are inspired by the logic and philosophy in Cantor’s approach to problem solving. We believe it's important to think past innate beliefs with a problem, because despite the paradoxes often uncovered, the best solution is not always the obvious one.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section row" id="clients">
        <div class="titles col-xs-12">
            <h2 class="pre-title">Our Clients.</h2>
            <h2 class="pink">Who we've helped...</h2>
        </div>
        <div class="row">
            <div class="text col-sm-5">
                <p>We've worked with all sorts of organisations, some of them are listed below:</p>
            </div>
        </div>
        <div class="row">
            <img id="gds" src="img/clients/gds.png" class="col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2 client-logo"/>
            <img id="synergy" src="img/clients/synergy.png" class="col-sm-1 col-sm-offset-1 col-xs-8 col-xs-offset-2 client-logo"/>
            <img id="fjord" src="img/clients/fjord.png" class="col-sm-3 col-sm-offset-1 col-xs-8 col-xs-offset-2 client-logo"/>
        </div>
        <div class="clearfix hidden-sm-up"></div>
        <div class="row">
            <img id="quietus" src="img/clients/quietus.jpg" class="col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2 client-logo"/>
            <img id="future" src="img/clients/future.jpg" class="col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2 client-logo"/>
            <img id="participle" src="img/clients/participle.gif" class="col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2 client-logo"/>
        </div>
        <div class="clearfix hidden-sm-up"></div>
        <div class="row">
            <img id="telegraph" src="img/clients/telegraph.png" class="col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 client-logo"/>
            <img id="goodgym" src="img/clients/goodgym.png" class="col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2 client-logo"/>
        </div>
    </div>

    <div class="section row" id="contact">
        <div class="titles col-xs-12">
            <h2 class="pre-title">Let's talk.</h2>
            <h2 class="purple">We Like Open Communication</h2>
        </div>
        <div class="text col-xs-12">
            <p><a href="tel:+442074013979">+44 207 401 3979</a></p>
            <p><a href="mailto:hello@cantorandball.com">hello@cantorandball.com</a></p>
        </div>
        <div class="text col-xs-12">
            <p>We are based in London, UK but we can &amp; do work anywhere.</p>
        </div>
        <div class="text col-xs-12">
            <p class="small-text">Company Number 7796213</p>
            <p class="small-text">VAT Registration Number GB 121 6096 42</p>
        </div>
    </div>
</div>
