$font-body: 'Roboto', Helvetica, Arial, 'Lucida Grande', sans-serif;
$font-title: 'Roboto', sans-serif;
$font-quote: 'Cormorant Garamond', serif;

$color-blue: #009FDF;
$color-orange: #ED8B00;
$color-pre-title: #515664;
$color-header: $color-blue;
$color-link: $color-blue;
